MediaLibrary/MediaLibraryEditor.WPF/Service References/MusicVideoServiceReference/MusicVideoService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MediaLibrary.WCF" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MediaLibrary.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1469/MusicVideoService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfMusicArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MusicArtist" nillable="true" type="tns:MusicArtist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusicArtist" nillable="true" type="tns:ArrayOfMusicArtist" />
  <xs:complexType name="MusicArtist">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MusicArtist" nillable="true" type="tns:MusicArtist" />
  <xs:complexType name="ArrayOfMusicGenre">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MusicGenre" nillable="true" type="tns:MusicGenre" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusicGenre" nillable="true" type="tns:ArrayOfMusicGenre" />
  <xs:complexType name="MusicGenre">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MusicGenre" nillable="true" type="tns:MusicGenre" />
  <xs:complexType name="MusicVideoClip">
    <xs:sequence>
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Duration" type="xs:int" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SongName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MusicVideoClip" nillable="true" type="tns:MusicVideoClip" />
  <xs:complexType name="ArrayOfMusicVideoClip">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MusicVideoClip" nillable="true" type="tns:MusicVideoClip" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMusicVideoClip" nillable="true" type="tns:ArrayOfMusicVideoClip" />
</xs:schema>